.stupid__donate-button {
  background-color: red;
  width: 100px;
  height: 50px;
  float: right;

  color: white;
  text-align: center;
  line-height: 4.2;
  cursor: pointer;

  font-weight: bold;

  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.stupid__donate-button:hover {
  /* background-color: #F95B5B; */

  -webkit-box-shadow: 0 4px 3px -3px black;
  -moz-box-shadow: 0 4px 3px -3px black;
  box-shadow: 0 4px 3px -3px black;
}
